body {
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        background: #f4f4f4;
        color: #000100;
        margin: 0px;
        position: relative;
        width: 100%;
    }


#wrapper{
    max-width: 1280;
    margin: 0 auto;
    background: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header{
    background: white;
    height: 300px;
}

.content{
    height: 600px;
    background: red;
}

.footer{
    background: green;
    height: 50px;
}

.row{
    height: 100px;
}

.top-left{
    margin: 10px 0 0 10px;
   float: left;
    width: 100px;
}

.row a{
    text-decoration: none;
}

.top-middle{
    margin: 10px 0 0 450px;
    height: 50px;
    width: 200px;
    float: left;
    text-align: left;
}

.top-right{
    float: right;
    margin: 10px 10px 0px 0;
}

.logoRow{
    height: 150px;
}

.logo{
    float: left;
    margin-left: 10px;
}

.search{
    float: left;
    margin-left: 380px; 
}

.contacts{
    float: left;
    margin-top: 30px; 
    margin-left: 380px;
}

.menu{
    height: 50px;
}

#main-menu{
    font-family: "HelveticaNeueW01-45Ligh","Arial",sans-serif;
    font-size: 1.65em;
    font-weight: normal;
    letter-spacing: 0.02em;
    margin: 0 0 0 150px;
    line-height: 1.4;
    background: #007C80;
    height: 50px;
}

#main-menu li{
    display: inline;
    padding: 0px 25px;
}

#main-menu a{
    text-decoration: none;
    color: #fff;
}

#main-menu a:hover{
    color: black;
}
