
.but{
    float: right;
}

.inp{
    color: gray;
    opacity: 0.8;
}
.lupa{
        background-image: url(search.png);
        position: absolute;
        height: 28px;
        width: 28px;
        top: 1px;
  right: 19px;
}

.footer {
    background: green;
    height: 50px;
}

.dropbtn {
    
    cursor: pointer;
}

.nav-link{
    color:white;
    font-size: 1.4em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 75px;
}

.dropbtn
{
 /* background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;*/
  padding-left: 25px;
  width: 60px;
}

.dropbtn::after {
   /* background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;*/
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
}

.dropdown-content a:first-child
{
 /* background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;*/
}

.dropdown-content a:last-child
{
  /*background: url('http://www.miru-mir.info/images/en.gif') no-repeat left center;*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.logo {
    float: left;
    margin-left: 10px;
}

.search {
    float: left;
    margin-left: 380px;
}

.contacts {
    float: left;
    margin-top: 30px;
    margin-left: 380px;
}

.menu {
    height: 50px;
}

#main-menu {
    font-family: "HelveticaNeueW01-45Ligh", "Arial", sans-serif;
    font-size: 1.65em;
    font-weight: normal;
    letter-spacing: 0.02em;
    margin: 0 0 0 150px;
    line-height: 1.4;
    background: #007C80;
    height: 50px;
}

#main-menu li {
    display: inline;
    padding: 0px 25px;
}

#main-menu a {
    text-decoration: none;
    color: #fff;
}

#main-menu a:hover {
    color: black;
}

#reg{
    float: right;
}

.slider{
    background: green;
    height: 440px;
}

.section-link {
    background: #007C80;
    color: white;
}

.section-link h1 a span {
    font-family: "HelveticaNeueW01-65Medi","Arial",sans-serif;
    font-weight: normal;
    font-size: .5em;
    position: absolute;
    right: 40px;
    text-transform: uppercase;
    top: 30px;
}

.meta{
    position: absolute;
    color: white; 
}

.meta a{
    text-decoration: none;
    color: #f1f1f1;
}

.meta span {
    font-family: "HelveticaNeueW01-65Medi","Arial",sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
}

.section-link h1 {
    font-family: "HelveticaNeueW01-45Ligh","Arial",sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

.section-link h1 a {
    color: white;
    display: block;
    padding: 20px 10px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.lul{
background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.7));
    background: -o-linear-gradient(transparent, rgba(0,0,0,0.7));
    background: -moz-linear-gradient(transparent, rgba(0,0,0,0.7));
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
}

.lul{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    width: 90%;

}



  .kek{    
    float: left;
    color: #f1f1f1;
    padding: 20px;
    position: absolute;
    
  }

  .kek a{
    font-family: "HelveticaNeueW01-45Ligh","Arial",sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0;
      color: #f1f1f1;
  }
  .post-content {
  /*  background: none repeat scroll 0 0 #FFFFFF;*/
    
    bottom:0;
    left:0;
    position: absolute;
}

.thumbnail{
    position:relative;
    
}
   


.thumbnail a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    background: #333333;
    opacity: 0.8;
}

.events-info{
    background: #EAEAEA;
    color: #3D3D3D;
    font-weight: normal;
}
.events-info h1{
    font-family: "HelveticaNeueW01-45Ligh","Arial",sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: #666;
    padding: 40px 0 20px 0;
}
.blue-bg{
    background: #0080AD
}
.white-bg{
    background: #EAEAEA;
    height:5px;
}